// Blues
$custom-dark-blue: #072536;
$focus-blue: #5CA6EE;

// Greys
$grey: #9E9E9E;
$grey-l5: #FAFAFA;
$grey-l4: #F5F5F5;
$grey-l3: #EEEEEE;
$grey-l2: #E0E0E0;
$grey-l1: #BDBDBD;
$grey-d1: #757575;
$grey-d2: #616161;
$grey-d3: #424242;
$grey-d4: #212121;
